body {
    margin-left: 30%;
    margin-right: 30%;
}
/*spazio header*/
.spazio-iniziale {
background-image: url(../img/pattern.png);
background-color: cornflowerblue;
margin-left:none;
}

.logo {
max-width: 20%;
padding-top: 3%;
}
/*fine spazio header*/

/*spazio main*/
main {
background-color: white;
padding-left: none;
}

#the-booleaner{
    color: cyan;
}

.data{
display: block;
font-size: 60%;
}

.foto {
    max-width: 40%;
}

.descrizione-foto {
  display: block;  
}
/*fine spazio main*/