body {
    margin-left: 15%;
    margin-right: 15%;
}
/*spazio header*/
.spazio-iniziale {
background-image: url(../img/pattern.png);
background-color: cornflowerblue;
margin-left:none;
}

.logo {
max-width: 20%;
padding-top: 3%;
}
/*fine spazio header*/

/*spazio main*/
main {
background-color: white;
padding-left: none;
}

#the-booleaner{
    color: cyan;
}

.data{
display: block;
font-size: 60%;
} 

.descrizione-foto {
  display: block;  
}

.testo {
    padding-top: 5%;
    font-size: 14px;
}

li {
    margin-left: none;
}
/*fine spazio main*/